{% if app.environment == 'prod' %}
<div class="center-align">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-6356497761748671";
    /* leaderboard */
    google_ad_slot = "3364449159";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
{% else %}
<div class="center-align">
    <hr class="soften" />
    <img src="{{ asset('bundles/avroasset/images/adsense/leaderboard.png') }}" />
</div>
{% endif %}
